/* font import */

/* @import url('https://fonts.googleapis.com/css2?family=Cabin&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald&display=swap'); */

:root {
    --light-green: #D0DB97;
    --green-1: #228B22;
    --green-2-: #3A7D44;
    --green-3: #254D32;
    --secondary-color: #777;
    --light-color: #fafafa;
    --dark-color: #181D27;
}


body {
    font-family: Merriweather, serif;
    background-color: var(--light-green);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--green-2-);
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 36px;
    font-weight: 700;
}

.header-img {
    width: 100px;
    height: auto;
}

nav {
    background-color: #fafafa;
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #777;
    font-size: 18px;
}

nav a:hover {
    color: #228B22;
}

.desc-logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

desc-logo {
    width: 100px;
    height: auto;
}

.site-description {
    width: 100px;
    margin: 24px;
    border-radius: 2px;
    border-color: #777;
}

.search-container {
    text-align: center;
    padding: 10px;
    background-color: #fafafa;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    width: 300px;
    height: 2rem;
}

.search-input:focus {
    border-color: #228B22;
}

.search-text {
    font-size: 21px;
    color: #777;
    margin-right: 10px;
}

.site-sub-title {
    background-color: #fafafa;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #777;
    border-bottom: 1px solid #ccc;
}

.site-description {
    background-color: #fafafa;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    color: #777;
    border-bottom: 1px solid #ccc;
}

main {
width: 80%;
margin: 0 auto;
padding: 20px;
}

.plant {
background-color: white;
border: 1px solid #ccc;
border-radius: 5px;
padding: 20px;
margin-bottom: 20px;
}

.common-name {
font-size: 22px;
color: #228B22;
margin-bottom: 10px;
}

.plant-scientific-name {
    font-style: italic;
}

.plant-description {
font-size: 14px;
color: #777;
line-height: 1.6;
}

.plant-img {
width: 100%;
height: auto;
margin-bottom: 10px;
}

.support {
    color:#777;
    font-size: 1.5em;
    width: 75%;
}
footer {
    background-color: var(--green-2-);
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 14px;
    border-top: 1px solid #ccc;
}

.footer-img {
    width: 100px;
    height: auto;
}

.footer-text {
    color: white; 
    text-decoration: none;
}